.a
{
  width: 100px; 
  height: 50px;
}
.b{
  width: 100px;
  height: 80px;
}
.c{
  width: 100%;
}
.d{
  background: #967B4F;
}
.e{
  background: #967B4F;
}
.g{
 max-width: 600px;
  height: 300px;
  width: 100%;
}
.h
{
  background: #967B4F ;
}
